/*
Author: Smart Code Media
Project:  
Version:  1.0

==================

====================*/
/* 0. Vars
*************************************/
/* 1. General Changes
*************************************/
body {
  background-image: url(../img/bg.jpg);
  background-size: cover; }
